<!DOCTYPE html>
<html>
<head>
    <title>Thank You | Creova Studio</title>
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-9PKGJP3E4Z"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-9PKGJP3E4Z');
</script>
</head>
<body style="background:black;color:white;text-align:center;padding-top:100px;">
    <h1>Thank you.</h1>
    <p>Your input has been recorded.</p>
    <p>— Creova Studio</p>
</body>
</html>
